<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" ></script>
<title>Booklist</title>
</head>
<body>
	<h1>Edit book</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<label for="author">Author</label>
			<input type="text" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="title">Title</label>
			<input type="text" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="Year">Year</label>
			<input type="text" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="Price">Price</label>
			<input type="text" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="isbn">ISBN</label>
			<input type="text" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="genre">Genre</label>
			<select id="genrelist" th:field="*{genre}" class="form-control">
       			<option th:each="genre: ${genre}" th:value="${genre.genreid}" th:text="${genre.genreName}"></option>
    		</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>

</body>
</html>